ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}


body {
  margin: 0;
}

html {
  background: #f3f3f3;

}

* {
  box-sizing: border-box;
}