ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}


body {
  background: url("/imgs/mbg2.jpg") no-repeat center/cover fixed, #e4e4e4;
  margin: 0;
  min-height: 100vh;

  @media screen and (min-width: $md) {
    background: #f3f3f3;
  }
}

html {
  overflow-x: hidden;
  user-select: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

button {
  all: unset;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
  }
}

img {
  display: block;
}
